#define MORPH(NAME, DEF, ALT, MODS) \
  NAME: morph_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    label = ##NAME; \
    #binding-cells = <0>; \
    bindings = <&kp DEF>, <&kp ALT>; \
    mods = <MODS>; \
  };

MORPH(TIcolon, DK_COLN, DK_SCOLN, MOD_LSFT)
